.about-company {
  padding: 0 40px 100px;

  @include vp-1023 {
    padding: 0 50px 60px;
  }

  @include vp-767 {
    padding: 0 25px 80px;
  }
}

.about-company__wrap {
  max-width: 1220px;
  min-width: 944px;
  margin: 0 auto;
  padding: 0 0 19px 250px;
  background-image: url("../img/icon-year.png");
  background-repeat: no-repeat;
  background-size: 150px 320px;
  background-position: top 0 left 0;

  @include retina {
    background-image: url("../img/icon-year@2x.png");
  }

  @include vp-1023 {
    max-width: 923px;
    min-width: 668px;
    padding-left: 175px;
    background-position: top 5px left -3px;
  }

  @include vp-767 {
    max-width: 767px;
    min-width: 270px;
    padding: 0;
    background-image: none;
  }
}

.about-company__title {
  margin: 0;
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
  }
}

.about-company__text-inner {
  line-height: 22px;
  padding-bottom: 29px;

  @include vp-1023 {
    padding-bottom: 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.about-company__text {
  margin: 0;
  padding: 12px 0 10px;

  @include vp-1023 {
    padding-bottom: 7px;
  }
}

.about-company__text--hidden {
  display: none;
}

.about-company__text--visible {
  display: block;
}

.about-company__text--hidden-inline {
  @include vp-767 {
    display: none;
  }
}

.about-company__text--visible-inline {
  @include vp-767 {
    display: inline;
  }
}

.about-company__text--nojs {
  display: block;
}

.about-company__text--nojs-inline {
  display: inline;
}
