.accordion__item {
  @include vp-767 {
    position: relative;
    padding: 0 25px;
  }
}

.accordion__item::before {
  content: none;

  @include vp-767 {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #f8fdff;
    opacity: 0.7;
  }
}

.accordion__item:last-child::before {
  content: none;
}

.accordion__item::after {
  content: none;

  @include vp-767 {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #f8fdff;
    opacity: 0.7;
  }
}

.accordion__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.accordion__item-triger {
  @include vp-767 {
    position: relative;
    display: block;
  }
}

.accordion__item-triger::before {
  content: none;

  @include vp-767 {
    content: "";
    position: absolute;
    top: 28px;
    right: 2px;
    width: 15px;
    height: 1px;
    background-color: #c4c4c4;
  }
}

.accordion__item-triger::after {
  content: none;

  @include vp-767 {
    content: "";
    position: absolute;
    top: 21px;
    right: 9px;
    width: 1px;
    height: 15px;
    background-color: #c4c4c4;
  }
}

.accordion__item-content {
  @include vp-767 {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.accordion__input[type="radio"]:checked ~ .accordion__item-content {
  @include vp-767 {
    display: block;
  }
}

.accordion__input[type="radio"]:checked ~ .accordion__item-triger::after {
  @include vp-767 {
    content: none;
  }
}
