// .advantages {

// }

.advantages__wrap {
  width: 1222px;
  margin: 0 auto;
}

.advantages__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px 31px;
}
