.btn {
  display: inline-flex;
  padding: 10px 15px;

  // min-height: 40px;

  font-family: $ff-robotocondensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-secondary;

  background-color: #041827;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--phone-call {
  border: 1px solid $color-secondary;
  border-radius: 3px;

  @include vp-1023 {
    display: none;
  }
}
