.contacts {
  @include vp-1023 {
    padding: 0 0 41px;
  }

  @include vp-767 {
    padding-right: 10px;
  }
}

.contacts--header {
  padding: 18px 0 25px;

  @include vp-1023 {
    margin-right: 20px;
    padding: 20px 3px 41px 0;
  }

  @include vp-767 {
    margin: 0;
    padding: 10px 10px 20px 0;
  }
}

.contacts__link {
  display: inline-flex;
  font-style: normal;
  color: $color-default-white;

  @include vp-1023 {
    display: flex;
  }

  @include hover {
    color: $color-brand;
  }
}

.contacts__link .contacts__icon {
  @include vp-1023 {
    @include hover {
      fill: $color-default-white;
    }
  }
}

.contacts__link span {
  display: block;
  padding-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.contacts__link--email {
  margin-left: 7px;

  @include vp-1023 {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 10px;
  }
}

.contacts__link--phone-header {
  margin-right: 13px;

  @include vp-1023 {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 18px 0 0;
    padding: 10px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.contacts__link--phone {
  display: inline-block;
  opacity: 0.7;

  @include vp-767 {
    font-size: 14px;
    line-height: 25px;
  }
}

.contacts__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: $color-brand;

  @include vp-1023 {
    margin: 0;
  }
}

.contacts__address-text {
  font-style: normal;
  line-height: 22px;
  color: $color-default-white;
  opacity: 0.7;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.contacts__email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 37px;

  @include vp-1023 {
    grid-template-columns: 40px 40px;
    gap: 20px;
    margin: 0;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  max-width: 345px;
  min-width: 220px;

  @include vp-1023 {
    max-width: 320px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
}

.contacts__item {
  padding: 4px 0 0;
  list-style-type: none;
}

.contacts__item:first-child {
  padding-top: 10px;

  @include vp-767 {
    padding-top: 3px;
  }
}

.contacts__item:last-child {
  padding-bottom: 0;

  @include vp-767 {
    padding-bottom: 16px;
  }
}
