.feedback-form {
  position: relative;
  z-index: 1;
  padding: 0 40px;
  background-color: #00b3ff;
  background-image: url("../img/paper-airplane.webp");
  background-size: 510px auto;
  background-repeat: no-repeat;
  background-position: left 25% top 44%;

  @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
    background-image: url("../img/paper-airplane@2x.webp");
  }

  @include vp-1469 {
    background-size: 450px auto;
  }

  @include vp-1299 {
    background-size: 350px auto;
  }

  @include vp-1219 {
    background-size: 290px auto;
  }

  @include vp-1149 {
    background-size: 250px auto;
  }

  @include vp-1023 {
    background-image: none;
    padding: 0 50px;
  }

  @include vp-767 {
    padding: 0 25px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 100%, 0 0, 50.6% 0);
    background: rgba(4, 24, 39, 0.5);

    @include vp-1023 {
      content: none;
    }
  }
}

.feedback-form__container {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  min-width: 944px;
  margin: 0 auto;

  @include vp-1023 {
    max-width: 923px;
    min-width: 668px;
  }

  @include vp-767 {
    max-width: 717px;
    min-width: 270px;
  }
}

.feedback-form__wrap {
  width: 100%;
  max-width: 590px;
  min-width: 450px;
  margin: 0 0 0 auto;
  padding: 166px 10px 248px 0;

  @include vp-1299 {
    max-width: 530px;
  }


  @include vp-1023 {
    max-width: 923px;
    min-width: 668px;
    padding: 45px 0 125px 0;
  }

  @include vp-767 {
    max-width: 717px;
    min-width: 270px;
    padding: 48px 0 87px;
  }
}

.feedback-form__title {
  margin: 0;
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback-form__text {
  display: block;
  padding: 11px 0 35px;
  color: $color-default-white;
  line-height: 22px;

  @include vp-1023 {
    padding: 6px 0 25px;
  }

  @include vp-767 {
    padding-bottom: 33px;
    font-size: 14px;
    line-height: 19px;
  }
}
