.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.form--popup {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.form__group {
  margin: 0;
}

.form__field {
  width: 100%;
  height: 50px;
  padding: 15px;
  color: $color-default-white;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
  }
}

.form__field--text {
  grid-column: 1 / -1;
  height: 155px;

  @include vp-767 {
    height: 180px;
    padding: 25px 15px;
  }
}

.form__assent {
  position: relative;

  @include vp-767 {
    margin: 0 auto;
  }
}

.form__assent-label {
  position: relative;
  display: block;
  margin-top: 15px;
  padding-left: 26px;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  cursor: pointer;

  @include vp-767 {
    margin: 0;
  }
}

.form__assent-label::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: $color-brand;
  border: 1px solid $color-default-white;
  border-radius: 2px;
}

.form__assent-input[type="checkbox"]:checked + .form__assent-mark::before {
  position: absolute;
  content: "";
  z-index: 5;
  top: 27px;
  left: 3px;
  width: 9px;
  height: 6px;
  background-color: $color-brand;
  background-image: url("../img/svg/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;

  @include vp-767 {
    top: 11px;
  }
}

.form__field--popup {
  width: 420px;
}

.form__assent-label--popup {
  margin: 0;
  padding-left: 34px;
}

.form__assent-label--popup::before {
  top: 0;
  left: 9px;
}

.form__assent-input[type="checkbox"]:checked + .form__assent-mark--popup::before {
  top: 4px;
  left: 11px;
}
