.main-header {
  position: fixed;
  z-index: 10;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

}

.main-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  min-width: 944px;
  min-height: 120px;
  margin: 0 auto;

  @include vp-1023 {
    max-width: 922px;
    min-width: 670px;
    min-height: 100px;
  }

  @include vp-767 {
    max-width: 767px;
    min-width: 270px;
    min-height: 70px;
  }
}

.main-header__logo {
  display: block;

  @include vp-767 {
    display: none;
  }
}

.main-header__logo-mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.main-header__information-container {
  width: 480px;

  @include vp-1023 {
    max-width: 100px;
  }
}
